.username-input {
  margin-bottom: 1rem;
}

.username-input label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.username-input input {
  flex: 1;
  padding: 0.5rem;
  background: #222;
  border: 1px solid #666;
  border-radius: 0.25rem;
  color: #fff;
  font-family: inherit;
}

.messages {
  overflow-y: auto;
  padding: 1rem 0;
  height: 400px;
  margin-bottom: 1rem;
}

.message {
  margin-bottom: 0.75rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.message .username {
  font-weight: 800;
  color: #d81b60;
}

.message .text {
  flex: 1;
}

.message .time {
  font-size: 0.8rem;
  color: #666;
}

.message-input {
  display: flex;
  gap: 0.5rem;
  padding: 1rem;
  border-top: 1px solid #666;
}

.message-input input {
  flex: 1;
  padding: 0.75rem;
  background: #222;
  border: none;
  color: #fff;
  font-family: inherit;
}
