.message {
  margin-bottom: 0.75rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.message .username {
  font-weight: 800;
  color: #d81b60;
}

.message .text {
  flex: 1;
}

.message .time {
  font-size: 0.8rem;
  color: #666;
}
