{{includeFile template="client/src/shared/info.css.hbs" output="client/src/info.css"}}

<script{{#if typescript}} lang="ts" {{/if}}>
  import './info.css';
</script>

<div id="info">
  <div id="infoTech">
    {{#each techIcons}}
      <img src="{{src}}" class="infoTechIcon" title="{{title}}" />
    {{/each}}
  </div>
  <div id="infoIcon">
    i
    <div id="infoTooltip">
      {{> info.hbs}}
    </div>
  </div>
</div>
