{{includeFile template="client/src/shared/topBar.css.hbs" output="client/src/topBar.css"}}
{{includeFile template="client/src/shared/Title.svelte.hbs" output="client/src/Title.svelte"}}
{{includeFile template="client/src/shared/Info.svelte.hbs" output="client/src/Info.svelte"}}

<script{{#if typescript}} lang="ts" {{/if}}>
  import './topBar.css';
  import Title from './Title.svelte';
  import Info from './Info.svelte';
</script>

<div id="topBar">
  <Title />
  <Info />
</div>
