<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TinyBase</title>
  </head>
  <body>
{{#if isReact}}
    <div id="app"></div>
{{/if}}
    <script type="module" src="/src/index.{{ext}}"></script>
  </body>
</html>
