<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <title>
    TinyBase / {{#if typescript}}TypeScript{{else}}JavaScript{{/if}}{{#if react}} + React{{/if}}
  </title>
</head>

<body>
  {{#if react}}
    <div id="app"></div>
  {{else}}
    <h1>TinyBase</h1>
    <div class="buttons">
      <button id="countButton">Count</button>
      <button id="randomButton">Random</button>
      <button id="addPetButton">Add Pet</button>
    </div>
    <div class="display">
      <h2>Values</h2>
      <pre id="valuesJson"></pre>
      <h2>Tables</h2>
      <pre id="tablesJson"></pre>
    </div>
  {{/if}}
  <script type="module" src="/src/index.{{ext}}"></script>
</body>

</html>