a {
  color: var(--fg);
}

h1 {
  font-weight: 600;
  img {
    margin-right: 1rem;
    height: 2.5rem;
    vertical-align: text-bottom;
  }
}

h2 {
  font-weight: 800;
  font-size: 1.3rem;
  margin: 1rem 0 0;
}

p {
  margin: 0 0 1rem;
  line-height: 1.5;
}

details {
  border: 1px solid var(--border);
  border-radius: 0.25rem;
  padding: 0.5rem;
}

details summary {
  cursor: pointer;
  font-weight: 800;
  margin: -0.5rem -0.5rem 0;
  padding: 0.5rem;
}

details[open] summary {
  margin-bottom: 0.5rem;
  border-bottom: 1px solid var(--border);
}

pre {
  margin: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
}
