{{includeFile template="src/basic/index.css.hbs" output="src/basic/index.css"}}
import './index.css';
import {StrictMode} from 'react';
import {createStore} from 'tinybase';
import {Provider, useCreateStore, useAddRowCallback, useSetValueCallback} from 'tinybase/ui-react';
import type {ValueOrUndefined} from 'tinybase';
import {SortedTableInHtmlTable, ValuesInHtmlTable} from 'tinybase/ui-react-dom';
import {Inspector} from 'tinybase/ui-react-inspector';
{{includeFile template="src/components/Button.tsx.hbs" output="src/components/Button.{{ext}}"}}
import {Button} from '../components/Button';

// Convenience function for generating a random integer
const getRandom = (max = 100) => Math.floor(Math.random() * max);

const Buttons = () => {
// Attach events to the buttons to mutate the data in the TinyBase Store
const handleCount = useSetValueCallback(
'counter',
() => (value: ValueOrUndefined) => ((value ?? 0) as number) + 1,
);
const handleRandom = useSetValueCallback('random', () => getRandom());
const handleAddPet = useAddRowCallback('pets', (_, store) => ({
name: ['fido', 'felix', 'bubbles', 'lowly', 'polly'][getRandom(5)],
species: store.getRowIds('species')[getRandom(5)],
}));

return (
<div id="buttons">
  <Button onClick={handleCount}>Increment number</Button>
  <Button onClick={handleRandom}>Random number</Button>
  <Button onClick={handleAddPet}>Add a pet</Button>
</div>
);
};

export const App = () => {
const store = useCreateStore(() => {
// Create the TinyBase Store and initialize the Store's data
return createStore()
.setValue('counter', 0)
.setRow('pets', '0', {name: 'fido', species: 'dog'})
.setTable('species', {
dog: {price: 5},
cat: {price: 4},
fish: {price: 2},
worm: {price: 1},
parrot: {price: 3},
});
});

return (
<StrictMode>
  <Provider store={store}>
    <Buttons />
    <div>
      <h2>Values</h2>
      <ValuesInHtmlTable />
    </div>
    <div>
      <h2>Pets Table</h2>
      <SortedTableInHtmlTable tableId="pets" cellId="name" limit={5} sortOnClick={true} className="sortedTable" paginator={true} />
    </div>
    <Inspector />
  </Provider>
</StrictMode>
);
};