{{includeFile template="src/todos/todoList.css.hbs" output="src/todoList.css"}}
import './todoList.css';
import {useRowIds, STORE_ID} from './Store';
{{includeFile template="src/todos/TodoItem.tsx.hbs" output="src/TodoItem.{{ext}}"}}
import {TodoItem} from './TodoItem';

export const TodoList = () => {
const todoIds = useRowIds('todos', STORE_ID);

return (
<div id="todoList">
  {todoIds.map((id) => (
  <TodoItem key={id} rowId={id} />
  ))}
</div>
);
};