{{includeFile template="src/todos/todoList.css.hbs" output="src/todoList.css"}}
import './todoList.css';
import {useRowIds} from './Store';
{{includeFile template="src/todos/TodoItem.tsx.hbs" output="src/TodoItem.{{ext}}"}}
import {TodoItem} from './TodoItem';

export const TodoList = () => {
const todoIds = useRowIds('todos', 'todos');

return (
<div id="todoList">
  {todoIds.map((id) => (
  <TodoItem key={id} rowId={id} />
  ))}
</div>
);
};