{{addImport "import {useRow, type MessageRow, STORE_ID} from './ChatStore';"}}

{{includeFile template="client/src/chat/message.css.hbs" output="client/src/message.css"}}
{{addImport "import './message.css';"}}

interface MessageProps {
rowId: string;
}

export const Message = ({rowId}: MessageProps) => {
const {username, text, timestamp} = useRow('messages', rowId, STORE_ID) as MessageRow;

return (
<div className="message">
  <span className="username">{username}:</span>
  <span className="text">{text}</span>
  <span className="time">{new Date(timestamp).toLocaleTimeString()}</span>
</div>
)
};