import {useMemo} from 'react';
import {useRowIds, useStore, STORE_ID} from './ChatStore';

{{includeFile template="client/src/chat/messages.css.hbs" output="client/src/messages.css"}}
import './messages.css';

{{includeFile template="client/src/chat/Message.tsx.hbs" output="client/src/Message.{{ext}}"}}
import {Message} from './Message';

export const Messages = () => {
const store = useStore(STORE_ID);
const messageIds = useRowIds('messages', STORE_ID);

const sortedIds = useMemo(() => {
return [...messageIds].sort((a, b) => {
const rowA = store.getRow('messages', a) as any;
const rowB = store.getRow('messages', b) as any;
return rowA.timestamp - rowB.timestamp;
});
}, [messageIds, store]);

return (
<div id="messages">
  {sortedIds.map((id) => (
  <Message key={id} rowId={id} />
  ))}
</div>
);
};
