import {useRow, STORE_ID} from './ChatStore';
{{includeFile template="client/src/chat/message.css.hbs" output="client/src/message.css"}}
import './message.css';

interface MessageProps {
rowId: string;
}

export const Message = ({rowId}: MessageProps) => {
const row = useRow('messages', rowId, 'chat');
const time = new Date((row as any).timestamp).toLocaleTimeString();

return (
<div className="message">
  <span className="username">{(row as any).username}:</span>
  <span className="text">{(row as any).text}</span>
  <span className="time">{time}</span>
</div>
);
};