{{addImport "import {useRow, STORE_ID} from './ChatStore';"}}

{{includeFile template="client/src/chat/message.css.hbs" output="client/src/message.css"}}
{{addImport "import './message.css';"}}

interface MessageProps {
rowId: string;
}

export const Message = ({rowId}: MessageProps) => {
const row = useRow('messages', rowId, STORE_ID);
const time = new Date(row?.timestamp).toLocaleTimeString();

return (
<div className="message">
  <span className="username">{row?.username}:</span>
  <span className="text">{row?.text}</span>
  <span className="time">{time}</span>
</div>
);
};