{{includeFile template="client/src/chat/usernameInput.css.hbs" output="client/src/usernameInput.css"}}
{{includeFile template="client/src/shared/Input.svelte.hbs" output="client/src/Input.svelte"}}

<script{{#if typescript}} lang="ts" {{/if}}>
  import './usernameInput.css';
  import Input from './Input.svelte';
  import { getValue } from 'tinybase/ui-svelte';
  import { STORE_ID } from './settingsStore';

  const username = getValue(
    'username',
    STORE_ID,
  ){{#if typescript}} as { current: string | undefined }{{/if}};
</script>

  <div id="usernameInput">
    <label for="usernameInputField">Your name:</label>
    <Input
      id="usernameInputField"
      value={username.current ?? ''}
      onChange={(value) => {
        username.current = value;
      }}
      placeholder="Enter your name"
    />
  </div>
