{{includeFile template="client/src/game/Board.svelte.hbs" output="client/src/Board.svelte"}}
{{includeFile template="client/src/game/GameStatus.svelte.hbs" output="client/src/GameStatus.svelte"}}
{{includeFile template="client/src/shared/Button.svelte.hbs" output="client/src/Button.svelte"}}

<script>
  import { onMount } from 'svelte';
  import Button from './Button.svelte';
  import { getStore } from 'tinybase/ui-svelte';
  import Board from './Board.svelte';
  import GameStatus from './GameStatus.svelte';
  import { STORE_ID } from './store';

  const store = getStore(STORE_ID);

  const WINNING_LINES = [
    ['0', '1', '2'], ['3', '4', '5'], ['6', '7', '8'],
    ['0', '3', '6'], ['1', '4', '7'], ['2', '5', '8'],
    ['0', '4', '8'], ['2', '4', '6'],
  ];

  const checkGameState = () => {
    const gameStatus = store.getValue('gameStatus');
    if (gameStatus !== 'playing') {
      return;
    }

    for (const line of WINNING_LINES) {
      const [a, b, c] = line;
      const cellA = store.getCell('board', a, 'value');
      const cellB = store.getCell('board', b, 'value');
      const cellC = store.getCell('board', c, 'value');

      if (cellA && cellA === cellB && cellA === cellC) {
        store.setValue('gameStatus', 'won');
        store.setValue('winner', cellA);
        store.setValue('winningLine', line.join(','));
        return;
      }
    }

    if (store.getRowCount('board') === 9) {
      store.setValue('gameStatus', 'draw');
      return;
    }

    const currentPlayer = store.getValue('currentPlayer');
    store.setValue('currentPlayer', currentPlayer === 'X' ? 'O' : 'X');
  };

  const resetGame = () => {
    store.delTable('board');
    store.setValues({
      currentPlayer: 'X',
      gameStatus: 'playing',
    });
  };

  onMount(() => {
    store.addTableListener('board', checkGameState, true);
  });
</script>

<GameStatus />
<Board />
<div style="text-align: center; margin-top: 2rem;">
  <Button variant="primary" onclick={resetGame}>New Game</Button>
</div>
