{{includeFile template="client/src/game/gameStatus.css.hbs" output="client/src/gameStatus.css"}}
import './gameStatus.css';
import type {GameStore} from './store';

export const createGameStatus = (store: GameStore): HTMLDivElement => {
const status = document.createElement('div');
status.id = 'gameStatus';

const render = () => {
const gameStatus = store.getValue('gameStatus');
const currentPlayer = store.getValue('currentPlayer');
const winner = store.getValue('winner');

if (gameStatus === 'playing') {
status.innerHTML = `Player <span class="player">${currentPlayer}</span>'s turn`;
} else if (gameStatus === 'won') {
status.innerHTML = `Player <span class="winner">${winner}</span> wins!`;
} else if (gameStatus === 'draw') {
status.textContent = "It's a draw!";
}
};

store.addValuesListener(render);
render();

return status;
};