{{includeFile template="client/src/drawing/brushSize.css.hbs" output="client/src/brushSize.css"}}
{{addImport "import {useValue, useSetValueCallback, STORE_ID} from './SettingsStore';"}}
{{addImport "import './brushSize.css';"}}

export const BrushSize = () => {
const size = useValue('brushSize', STORE_ID) ?? 5;

const setSize = useSetValueCallback(
'brushSize',
(e: React.ChangeEvent<HTMLInputElement>) => parseInt(e.target.value),
  [],
  STORE_ID,
  );

  return (
  <div id="brushSize">
    <label>Size:</label>
    <input type="range" min="1" max="50" value={size} onChange={setSize} />
    <span id="brushSizeValue">{size}</span>
  </div>
  );
  };