{{includeFile template="client/src/drawing/brushSize.css.hbs" output="client/src/brushSize.css"}}
{{addImport "import {useValueState, STORE_ID} from './SettingsStore';"}}
{{addImport "import './brushSize.css';"}}

export const BrushSize = () => {
const [size, setSize] = useValueState('brushSize', STORE_ID);

const handleChange = (e: React.ChangeEvent<HTMLInputElement>) => {
  setSize(parseInt(e.target.value));
  };

  return (
  <div id="brushSize">
    <label>Size:</label>
    <input type="range" min="1" max="50" value={(size as number) ?? 5} onChange={handleChange} />
    <span id="brushSizeValue">{size}</span>
  </div>
  );
  };