{{includeFile template="client/src/drawing/brushSize.css.hbs" output="client/src/brushSize.css"}}

<script{{#if typescript}} lang="ts"{{/if}}>
import './brushSize.css';
import {createValue} from 'tinybase/ui-svelte';
import {settingsStore} from './settingsStore';
{{#if schemas}}
  {{#if typescript}}
    import type {Store as TinyBaseStore} from 'tinybase';
  {{/if}}
{{/if}}

const size = createValue(
'brushSize',
{{#if schemas}}settingsStore as unknown as TinyBaseStore{{else}}settingsStore{{/if}},
){{#if typescript}} as {current: number | undefined}{{/if}};
</script>

<div id="brushSize">
  <label for="brushSizeSlider">Size:</label>
  <input
    id="brushSizeSlider"
    type="range"
    min="1"
    max="50"
    bind:value={size.current}
  />
  <span id="brushSizeValue">{size.current}</span>
</div>
