{{includeFile template="client/src/drawing/colorPicker.css.hbs" output="client/src/colorPicker.css"}}
import './colorPicker.css';
import {useValue, useSetValueCallback, STORE_ID} from './SettingsStore';

export const ColorPicker = () => {
const colors = ['#d81b60', '#1976d2', '#388e3c', '#f57c00', '#7b1fa2', '#fff'];
const currentColor = useValue('brushColor', STORE_ID);

const setColor = useSetValueCallback(
'brushColor',
(color: string) => color,
[],
STORE_ID,
);

return (
<div id="colorPicker">
  {colors.map((color) => (
  <button key={color} className={`colorBtn${currentColor===color ? ' active' : '' }`} style=\{{background: color}} onClick={()=> setColor(color)}
    />
    ))}
</div>
);
};
