{{includeFile template="client/src/drawing/colorPicker.css.hbs" output="client/src/colorPicker.css"}}
{{addImport "import './colorPicker.css';"}}
{{addImport "import {useValueState, STORE_ID} from './SettingsStore';"}}

export const ColorPicker = () => {
const colors = ['#d81b60', '#1976d2', '#388e3c', '#f57c00', '#7b1fa2', '#fff'];
const [currentColor, setColor] = useValueState('brushColor', STORE_ID);

return (
<div id="colorPicker">
  {colors.map((color) => (
  <button key={color} className={`colorBtn${currentColor===color ? ' active' : '' }`} style=\{{background: color}} onClick={()=> setColor(color)}
    />
    ))}
</div>
);
};