{{addImport "import {createStore} from 'tinybase';"}}
{{addImport "import {Provider, useValue} from 'tinybase/ui-react';"}}

const store = createStore().setValue('counter', 0);

export const App = () => (
<Provider store={store}>
  <header>
    <h1>
      <img src="/favicon.svg" />
      TinyBase / {{#if typescript}}TypeScript{{else}}JavaScript{{/if}} + React
    </h1>
  </header>
  <p>
    This is more or less the simplest TinyBase app you could imagine. It
    contains a handful of key-values and tables which are mutated with the
    buttons below. See the full set of{' '}
    <a href="https://tinybase.org/demos/">TinyBase demos</a> for more
    interesting examples!
  </p>
  <div id="buttons">
    <Counter />
  </div>
</Provider>
);

const Counter = () => {
const counter = useValue('counter', store);

return (
<button onClick={()=> store.setValue('counter', (c: number) => c + 1)}>
  Increment counter: {counter}
</button>
);
};