{{includeFile template="src/game/board.css.hbs" output="src/board.css"}}
import './board.css';
import {useMemo} from 'react';
import {useValue} from 'tinybase/ui-react';
{{includeFile template="src/game/Square.tsx.hbs" output="src/Square.{{ext}}"}}
import {Square} from './Square';

export const Board = () => {
const gameStatus = useValue('gameStatus') as string;
const winningLine = useValue('winningLine') as string | undefined;

const winningPositions = useMemo(() => {
if (!winningLine) return new Set();
return new Set(winningLine.split(',').map(Number));
}, [winningLine]);

const disabled = gameStatus !== 'playing';

return (
<div id="board">
  {Array.from({length: 9}, (_, i) => (
  <Square key={i} position={i} disabled={disabled} winning={winningPositions.has(i)} />
  ))}
</div>
);
};