{{includeFile template="src/game/square.css.hbs" output="src/square.css"}}
import './square.css';
import {useCell, useStore, useValue} from './Store';

export const Square = ({position, disabled, winning}: {position: number; disabled: boolean; winning: boolean}) => {
const store = useStore('game');
const value = useCell('board', position.toString(), 'value', 'game') as string | undefined;
const currentPlayer = useValue('currentPlayer', 'game') as string;

const isDisabled = disabled || !!value;

const handleClick = () => {
if (!isDisabled) {
store.setCell('board', position.toString(), 'value', currentPlayer);
}
};

return (
<button className={`square${isDisabled ? ' disabled' : '' }${winning ? ' winning' : '' }`} onClick={handleClick} disabled={isDisabled}>
  {value || ''}
</button>
);
};