{{includeFile template="src/chat/usernameInput.css.hbs" output="src/usernameInput.css"}}
import {useValue, useSetValueCallback, STORE_ID} from './SettingsStore';
import './usernameInput.css';
{{includeFile template="src/shared/Input.tsx.hbs" output="src/Input.{{ext}}"}}
import {Input} from './Input';

export const UsernameInput = () => {
const username = useValue('username', STORE_ID) || '';
const setUsername = useSetValueCallback(
'username',
(_e) => _e,[],
STORE_ID,
);

return (
<div id="usernameInput">
  <label>Your name:</label>
  <Input value={username} onChange={setUsername} placeholder="Enter your name" />
</div>
);
};