{{includeFile template="client/src/todos/todoList.css.hbs" output="client/src/todoList.css"}}
{{includeFile template="client/src/todos/TodoItem.svelte.hbs" output="client/src/TodoItem.svelte"}}

<script{{#if typescript}} lang="ts" {{/if}}>
  import './todoList.css';
  import { getSortedRowIds } from 'tinybase/ui-svelte';
  import TodoItem from './TodoItem.svelte';
  import { STORE_ID } from './store';

  const todoIds = getSortedRowIds(
    'todos',
    undefined,
    false,
    0,
    undefined,
    STORE_ID,
  );
</script>

  <div id="todoList">
    {#each todoIds.current as rowId (rowId)}
    <TodoItem {rowId} />
  {/each}
</div>