{{includeFile template="client/src/shared/button.css.hbs" output="client/src/button.css"}}
{{includeFile template="client/src/shared/input.css.hbs" output="client/src/input.css"}}
{{includeFile template="client/src/todos/todoInput.css.hbs" output="client/src/todoInput.css"}}

<script{{#if typescript}} lang="ts" {{/if}}>
  import './button.css';
  import './input.css';
  import './todoInput.css';
  import { onMount } from 'svelte';
  import { getStore } from 'tinybase/ui-svelte';
  import { STORE_ID } from './store';
  {{#if typescript}}
  import type { Store } from 'tinybase';
  {{/if}}

  const store = getStore(STORE_ID){{#if typescript}} as Store{{/if}};

  let text = $state('');
  let input{{#if typescript}}: HTMLInputElement | undefined{{/if}};

  const addTodo = () => {
    const trimmedText = text.trim();
    if (trimmedText) {
      store.addRow('todos', { text: trimmedText, completed: false });
      text = '';
      input?.focus();
    }
  };

  const handleSubmit = (event{{#if typescript}}: SubmitEvent{{/if}}) => {
    event.preventDefault();
    addTodo();
  };

  onMount(() => {
    input?.focus();
  });
</script>

  <form id="todoInput" onsubmit={handleSubmit}>
    <input bind:this={input} bind:value={text} type="text" placeholder="What needs to be done?" />
    <button class="primary" type="submit">Add</button>
  </form>
