{{includeFile template="src/components/usernameInput.css.hbs" output="src/components/usernameInput.css"}}
import {useValue, useSetValueCallback} from 'tinybase/ui-react';
import './usernameInput.css';
{{includeFile template="src/components/Input.tsx.hbs" output="src/components/Input.{{ext}}"}}
import {Input} from './Input';

export const UsernameInput = () => {
const username = useValue('username') || '';
const setUsername = useSetValueCallback(
'username',
(_e) => _e,[]);

return (
<div id="usernameInput">
  <label>Your name:</label>
  <Input value={username} onChange={setUsername} placeholder="Enter your name" />
</div>
);
};
